.spletnaAnalizaSection {
  width: 100%;
  background: linear-gradient(to right, black, #221c46);
  height: auto;
  margin-top: -150px;
  padding: 300px 10% 5% 10%;
  color: white;
  font-family: 'Quicksand';
  /* margin-bottom: -400px; */
  overflow-y: visible;
}

.spletnAnalizaContainer h1:nth-child(1) {
  font-size: 2.5vw;
  width: 25%;
  font-weight: 500;
}

.spletnAnalizaContainer h1:nth-child(2) {
  font-family: 'Crossbar';
  font-size: 7vw;
  width: 60%;
  font-weight: 300;
  transform: skew(0turn, -5deg);
  margin: -3% 0 5% 0;
  letter-spacing: 10px;
  text-shadow: 5px 20px 3px rgba(250, 250, 250, 0.233);
}

.sodelovanje {
  color: #ffe397;
  font-size: 1.5vw;
  margin-bottom: 5%;
}

.textFormContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 13%;
  margin-top: 0%;
}

.textFormContainer > div {
  font-size: 1.5vw;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}

.textFormContainer form {
  font-size: 1.3vw;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  padding: 0 2%;
}

.textFormContainer input {
  border: 2px solid white;
  background-color: transparent;
  border-radius: 40px;
  padding: 12px 25px;
  color: white;
  font-size: 1.4vw;
  font-weight: 300;
  font-family: inherit;
  width: 100%;
}

.textFormContainer input:focus {
  outline: none !important;
  border: 2px solid #f39d12;
  box-shadow: 0 0 10px #719ece;
}

.checkboxContainer {
  display: flex;
  font-size: 0.9vw;
  margin: 5px 0;
}

.checkboxContainer input {
  margin-right: 20px;
  margin-left: 30px;
  width: 50px;
  accent-color: #f39d12;
  background-color: #719ece;
}

.btn {
  width: 20%;
  text-transform: uppercase;
  font-size: 1.1vw;
  font-weight: 400;
  padding: 13.5px 15px;
  border: none;
  outline: none;
  border-radius: 45px;
  cursor: pointer;
  transition: 0.3s all;
  background: linear-gradient(to right, #f39d12, #ecc218);
  margin: 0 auto;
  display: block;
  margin-top: 4%;
}

.zanimaMeOptions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 15px;
}

.ckButton {
  background-color: transparent;
  border-radius: 45px;
  border: 2px solid #ffffff;
  overflow: auto;
  float: left;
  cursor: pointer;
  position: relative;
}

.ckButton:nth-child(1) {
  width: 37%;
}

.ckButton:nth-child(2) {
  width: 37%;
}

.ckButton:nth-child(3) {
  width: 20%;
}

.ckButton:nth-child(4) {
  width: 60%;
}

.ckButton:nth-child(5) {
  width: 36.5%;
}
.ckButton:nth-child(6) {
  width: 33.5%;
}

.ckButton:nth-child(7) {
  width: 63%;
}

.ckButton:nth-child(8) {
  width: 42%;
}

.ckButton:nth-child(9) {
  width: 55%;
}

.ckButton:hover {
  border: 2px solid #f39d12;
}

.ckButton label {
  float: left;
  width: 100%;
  cursor: pointer;
}

.ckButton label span {
  font-size: 1vw;
  text-align: center;
  padding: 1.2vh 0.5vw;
  display: block;
}

.ckButton label input {
  position: absolute;
  top: -20px;
}

.ckButton input:checked + span {
  background-color: #f39d12;
  color: #fff;
}

/* ///////////////////RESPONSIVE////////////////////// */

@media screen and (max-width: 700px) {
  .spletnaAnalizaSection {
    margin-top: -100px;
    padding: 150px 5% 25% 10%;
  }

  .spletnAnalizaContainer h1:nth-child(1) {
    font-size: 6.5vw;
    font-weight: 500;
  }

  .spletnAnalizaContainer h1:nth-child(2) {
    font-family: 'Crossbar';
    font-size: 12vw;
    width: 60%;
    font-weight: 300;
    transform: skew(0turn, -5deg);
    margin: 0% 0 5% 0;
    letter-spacing: 2px;
    text-shadow: 5px 10px 3px rgba(250, 250, 250, 0.233);
  }

  .sodelovanje {
    font-size: 4.5vw;
    margin-bottom: 10%;
  }

  .textFormContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5%;
    margin-top: 0%;
  }

  .textFormContainer > div {
    font-size: 4vw;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  }

  .textFormContainer form {
    font-size: 3vw;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    padding: 0 2%;
  }

  .textFormContainer input {
    border: 2px solid white;
    background-color: transparent;
    border-radius: 40px;
    padding: 12px 25px;
    color: white;
    font-size: 3.5vw;
    font-weight: 300;
    font-family: inherit;
    width: 100%;
  }

  .checkboxContainer {
    display: flex;
    font-size: 2.6vw;
    margin: 5px 0;
  }

  .checkboxContainer input {
    margin-right: 5px;
    margin-left: 0px;
    width: 50px;
    accent-color: #f39d12;
    background-color: #719ece;
  }

  .btn {
    width: 50%;
    text-transform: uppercase;
    font-size: 3.5vw;
    padding: 7px 10px;
    margin-top: 20%;
  }

  .zanimaMeOptions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 5px;
  }

  .ckButton {
    background-color: transparent;
    border-radius: 45px;
    border: 2px solid #ffffff;
    overflow: auto;
    float: left;
    cursor: pointer;
    position: relative;
  }

  .ckButton label span {
    font-size: 3.5vw;
    text-align: center;
    padding: 1.2vh 0.5vw;
    display: block;
  }
}
