.kajBosteDosegnuliMobileContainer {
  display: none;
  padding: 0 5%;
  color: white;
  font-weight: 300;
}

.kajBosteDosegnuliMobileContainer img {
  width: 110%;
  height: auto;
  object-fit: contain;
  margin-left: -25%;
}

.kajBosteDosegnuliMobileContainer a {
  color: black;
}
.kajBosteDosegnuliMobileContainer > h1 {
  width: 70%;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 7.3vw;
}

.kajBosteDosegnuliMobileContainer ul {
  margin-left: 9%;
  line-height: 23px;
  margin-bottom: 50px;
}

.kajBosteDosegnuliMobileContainer ul li {
  margin-bottom: 5%;
}

.kajBosteDosegnuliMobileContainer ul li::marker {
  font-size: 25px;
}
.btn {
  width: 100%;
  text-transform: uppercase;
  font-size: 4vw;
  font-weight: 300;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 45px;
  cursor: pointer;
  transition: 0.3s all;
  display: block;
  margin-bottom: 15px;
}

.btnYellow {
  background: linear-gradient(to right, #f39d12, #ecc218);
}

@media screen and (max-width: 700px) {
  .kajBosteDosegnuliMobileContainer {
    display: flex;
    flex-direction: column;
    margin-top: 22%;
    justify-content: flex-start;
  }
}
