.digitalniSpecialistiSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.digitalniSpecialistiSection h1 {
  background-image: linear-gradient(to right, #ecc218, #f39d12);
  background-clip: text;
  background-size: 100%;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 9vw;
  font-family: 'Crossbar';
  margin-left: 10%;
  padding-left: 2%;
  transform: skew(0turn, -11deg);
  font-weight: 400;
  line-height: 10vw;
}

.circleContainer {
  position: relative;
  width: 100%;
  height: 70vh;
  z-index: 150;
  /* margin-left: 50%; */
  margin-top: -60vh;
  transition: 0.3s all ease-in-out;
}

.circleContainer:hover {
  width: 150%;
  transform: translateX(-40%);
}

.circleContainer:hover .circle {
  transform: scale(1.2);
  font-weight: 300;
}

.circle {
  padding: 2%;
  border: 2px solid rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.545);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1vw;
}

/* .circle:hover {
  transform: scale(1.4);
  border: 2px solid #f39d12;
} */

.circleContainer > div:nth-child(1) {
  position: absolute;
  top: 0;
  left: 60%;
  width: 10vw;
  height: 10vw;
}

.circleContainer > div:nth-child(2) {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 9vw;
  height: 9vw;
}
.circleContainer > div:nth-child(3) {
  position: absolute;
  top: 40%;
  left: 0%;
  width: 9vw;
  height: 9vw;
}
.circleContainer > div:nth-child(4) {
  position: absolute;
  top: 27%;
  left: 44%;
  width: 7vw;
  height: 7vw;
}
.circleContainer > div:nth-child(5) {
  position: absolute;
  top: 47%;
  left: 30%;
  width: 8vw;
  height: 8vw;
}
.circleContainer > div:nth-child(6) {
  position: absolute;
  top: 70%;
  left: 10%;
  width: 7.8vw;
  height: 7.8vw;
}
.circleContainer > div:nth-child(7) {
  position: absolute;
  top: 40%;
  left: 70%;
  width: 9vw;
  height: 9vw;
}

.circleContainer > div:nth-child(8) {
  position: absolute;
  top: 65%;
  left: 50%;
  width: 7vw;
  height: 7vw;
}

.circleContainer > div:nth-child(9) {
  position: absolute;
  top: 80%;
  left: 30%;
  width: 8vw;
  height: 8vw;
}

.circleContainer > div:nth-child(10) {
  position: absolute;
  top: 78%;
  left: 70%;
  width: 8vw;
  height: 8vw;
}

.circleContainer > div:nth-child(11) {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 8vw;
  height: 8vw;
}

.squareContainer {
  /* position: absolute;
  bottom: 10% !important;
  left: 50%; */
}

@media screen and (max-width: 700px) {
  .digitalniSpecialistiSection {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    padding: 0 5%;
  }

  .circleContainer {
    position: relative;
    width: 100%;
    height: 700px;
    z-index: 150;
    /* margin-left: 50%; */
    margin-top: -920px;
    transition: 0.3s all ease-in-out;
  }

  .circleContainer:hover {
    width: 100%;
    transform: translateX(0%);
  }

  .circleContainer:hover .circle {
    transform: scale(1);
    font-weight: 300;
  }

  .circle {
    padding: 2%;
    border: 2px solid rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.545);
    border-radius: 50%;
    width: 26vw;
    height: 26vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3.6vw;
  }

  .digitalniSpecialistiSection h1 {
    background-image: linear-gradient(to right, #ecc218, #f39d12);
    background-clip: text;
    background-size: 100%;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 20vw;
    font-family: 'Crossbar';
    margin-left: 0%;
    padding-left: 2%;
    transform: skew(0turn, -11deg);
    font-weight: 400;
    line-height: 20vw;
    margin-top: 300px;
  }

  .circle {
    font-size: 4.6vw;
  }

  .circleContainer > div:nth-child(1) {
    position: absolute;
    top: 0;
    left: 60%;
    /* width: 10vw !important;
    height: 10vw !important; */
    width: 38vw;
    height: 38vw;
  }

  .circleContainer > div:nth-child(2) {
    position: absolute;
    top: 18%;
    left: 0%;
    width: 32vw;
    height: 32vw;
  }
  .circleContainer > div:nth-child(3) {
    position: absolute;
    top: 35%;
    left: 22%;
    width: 31vw;
    height: 31vw;
  }
  .circleContainer > div:nth-child(4) {
    position: absolute;
    top: 24%;
    left: 53%;
    width: 30vw;
    height: 30vw;
  }
  .circleContainer > div:nth-child(5) {
    position: absolute;
    top: 50%;
    left: -5%;
    width: 28vw;
    height: 28vw;
  }
  .circleContainer > div:nth-child(6) {
    position: absolute;
    top: 64%;
    left: 15%;
    width: 30vw;
    height: 30vw;
  }
  .circleContainer > div:nth-child(7) {
    position: absolute;
    top: 40%;
    left: 65%;
    width: 32vw;
    height: 32vw;
  }

  .circleContainer > div:nth-child(8) {
    position: absolute;
    top: 52%;
    left: 40%;
    width: 28vw;
    height: 28vw;
  }

  .circleContainer > div:nth-child(9) {
    position: absolute;
    top: 79%;
    left: -5%;
    width: 33vw;
    height: 33vw;
  }

  .circleContainer > div:nth-child(10) {
    position: absolute;
    top: 62%;
    left: 70%;
    width: 28vw;
    height: 28vw;
  }

  .circleContainer > div:nth-child(11) {
    position: absolute;
    top: 81%;
    left: 50%;
    width: 28vw;
    height: 28vw;
  }
}
